<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add
                id="AmazingCat_AmazingBase::menu"
                title="Amazing Cat"
                module="AmazingCat_AmazingBase"
                sortOrder="20"
                resource="AmazingCat_AmazingBase::menu"
        />
    </menu>
</config>